html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  max-width: 70rem;
  min-width: 50rem;
  border: 0.2rem solid black;
  margin: 5rem 5rem;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

p {
  font-family: "Smooch", cursive;
}

.social-cards-container {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-cards {
  background-color: rgb(51, 185, 237);

  border-radius: 25px;
  padding: 40px 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.social-cards-text {
  background-color: rgb(237, 181, 51);

  margin: 0;
  _padding: 20px 20px;

  display: flex;
  flo
  justify-content: center;
  align-items: center;
}
