html {
  background-color: lightgrey;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  _background-color: lightgrey;
  min-width: 50rem;
  _border: 0.2rem solid black;
  _margin: 5rem 5rem;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
}

p {
  font-family: "Smooch", cursive;
  font-size: 2rem;
}

.nav-buttons {
  _list-style-type: none;
  margin: 0;
  padding: 20px 0px;
  font-family: "Smooch", cursive;
  font-size: 2.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

.social-cards-container {
  _background-color: pink;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-cards {
  background-color: rgb(51, 185, 237);

  border-radius: 25px;
  padding: 10px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 43%;
  gap: 20px;
}

.social-cards > img {
}

.social-cards-text {
  background-color: rgb(237, 181, 51);

  padding: 20px 20px;
}
